.background-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);}

.sliding-background {

    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(18, 250px);
    animation: slide 60s linear infinite;
    opacity: 30%;
}

.background-tile {
    width: 250px;
    height: 354px;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1524px, -716px, 0); /* The image width and height */
    }
}