.formStyling {
    display: block;
    max-width: 100vw;

}

fieldset{
    background-color: #f0c987;
    min-width: 30vw;
    border-width: 15px;    padding-top: 20px;
    border-style: solid;
    border-color: #db4c40 ;
    z-index: 4;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
}

.checkbox-item {
    flex-basis: 100px;
}

button:disabled {
    color:black;
}