.logo-container {
    display: flex;
    align-items: center;
    justify-content:left;
    width: 200px;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #db4c40;
}

.logo-container img {
    width: 100px;
}

a {text-decoration: none}

nav {
    background-color: transparent;
    color: white;
    display: flex;
    padding: 0 32px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav a,
nav a:visited,
nav a:active {
    color: white;
}

button {
    border-radius: 4px;
    border: none;
    padding: 8px 16px;
    background-color: #db4c40;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

/*Zorgt ervoor dat als twee buttons naast elkaar staan, er altijd ruimte tussen blijft*/
button + button {
    margin-left: 8px;
}

button:hover {
    cursor: pointer;
}